# Database
DATABASE_URL=postgresql://username:password@host:port/database

# NextAuth
NEXTAUTH_SECRET=your-random-secret-string-here
NEXTAUTH_URL=http://localhost:3000


# OpenAI
OPENAI_API_KEY=sk-your_openai_api_key_here

# Resend
RESEND_API_KEY=re-your_resend_api_key_here

# Inngest
CHALETCOACHING_INNGEST_EVENT_KEY=clrpzL-inngest_event_key
CHALETCOACHING_INNGEST_SIGNING_KEY=signkey-signing_key